################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assets/Fireworks Source Files
/Assets/ToolbarAtlas.png
/Assets/PreviewImage_02.png
/Assets/04_before.jpg
/Assets/04_after.jpg
/Assets/03_before.jpg
/Assets/03_after.jpg
/Assets/02_before.jpg
/Assets/02_after.jpg
/Assets/01_before.jpg
/Assets/01_after.jpg
/bin/Debug
/obj/Debug
/Properties
/Configuration.XmlAttributes.cs
